<div class="container">
  <h2 class="text-center pb-4 order-1">
    <b>How To: </b>Measure a Room and Draw a Floor plan
  </h2>

  <p class="text">
    Without proper measurements you will likely purchase pieces that are wrong
    for the room because of their size or scale. Measurements allow designer to
    make informed decisions and plans for you. We cannot start planning your
    room without an analysis of the space and a layout. Drawing a simple floor
    plan is the easiest way to get a handle on how much space you have. Here is
    what you will need to get together before you start: plain or grid paper,
    pencil, measuring tape.
  </p>

  <div class="row">
    <div class="col-12 col-md-6 text-center my-auto">
      <img
        src="../../../assets/measurment-guidance/room.JPG"
        alt=""
        class="img-fluid"
        width="400"
        height="350"
      />
    </div>
    <div class="col-12 col-md-6 background-colour">
      <h5>STEP 1</h5>
      <p>
        Start from the any corner of your room and draw an outline of your room
        until you arrive back at your starting point. At this point do not worry
        about doors and windows, you will add them later. Take measurements at a
        point above skirting board level but no higher than 1.5 metres above the
        floor level.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 background-colour order">
      <h5>STEP 2</h5>
      <p>
        Start from the any corner of your room and draw an outline of your room
        until you arrive back at your starting point. At this point do not worry
        about doors and windows, you will add them later. Take measurements at a
        point above skirting board level but no higher than 1.5 metres above the
        floor level.
      </p>
    </div>
    <div class="col-12 col-md-6 text-center my-auto">
      <img
        src="../../../assets/measurment-guidance/sockets.JPG"
        alt=""
        class="img-fluid"
        width="400"
        height="350"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 text-center my-auto">
      <img
        src="../../../assets/measurment-guidance/room-measurments.JPG"
        alt=""
        class="img-fluid"
        width="400"
        height="350"
      />
    </div>
    <div class="col-12 col-md-6 background-colour">
      <h5>STEP 3</h5>
      <p>
        Start from the any corner of your room and draw an outline of your room
        until you arrive back at your starting point. At this point do not worry
        about doors and windows, you will add them later. Take measurements at a
        point above skirting board level but no higher than 1.5 metres above the
        floor level.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 background-colour order">
      <h5>STEP 4</h5>
      <p>
        Start from the any corner of your room and draw an outline of your room
        until you arrive back at your starting point. At this point do not worry
        about doors and windows, you will add them later. Take measurements at a
        point above skirting board level but no higher than 1.5 metres above the
        floor level.
      </p>
    </div>
    <div class="col-12 col-md-6 text-center my-auto">
      <img
        src="../../../assets/measurment-guidance/room-height.JPG"
        alt=""
        class="img-fluid last-image-padding"
        width="400"
        height="350"
      />
    </div>
  </div>
  <h4 class="text-center my-5">
    Check if the image quality of the scan or photograph is good enough and
    <br />
    <b> Simply email them to us!</b>
  </h4>
  <div class="text-center">
    <button class="ripple customButton my-2" (click)="scrollTo()">
      Choose Your Package
    </button>
  </div>
</div>
