<section class="container-fluid">
  <div class="container">
    <div class="text-center" id="package-extras">
      <h2>Package Extras</h2>
      <p class="mt-3 mb-5">
        If you are interested in some other of our services
      </p>
    </div>
    <div class="row justify-content-evenly text-center">
      <div class="box col-12 col-md-3">
        <h3>£150</h3>
        <hr />
        <p>For open plan, double reception rooms or when you need more help</p>
      </div>
      <div class="box col-12 col-md-3">
        <h3>£175</h3>
        <hr />
        <p>For 1 x photo realistic 3D rendering</p>
      </div>
      <div class="box col-12 col-md-3">
        <h3>+10%</h3>
        <hr />
        <p>
          Of order total to place all orders on your behalf and help coordinate
          deliveries
        </p>
      </div>
      <div class="box col-12 col-md-3">
        <h3>As a bonus</h3>
        <hr />
        <p>
          Discount on higher value items where we have favorable trade discounts
        </p>
      </div>
    </div>
  </div>
</section>
