<div class="container-fluid">
  <div class="container">
    <div class="text-center pb-5 background">
      <h2 class="about-me-text">About me</h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 text-center image-margin">
        <img
          src="../../../assets/abut-me/about-one.webp"
          alt="me"
          class="img-fluid mt-2"
          width="500"
          height="450"
        />
      </div>
      <div class="col-12 col-md-6">
        <p>
          I am a practical modernist interior designer. My passion stems from my
          lifelong love of architecture, interiors and travel and I get my
          inspiration from the countries I`ve visited combined with my love of
          nature. I am also a self confessed homebody which helps me to
          understand my clients need to want to relax and chill out in their
          homes.
        </p>
        <p>
          Originally from Lithuania, I`ve lived in London for over 20 years. I
          began after moving into my first flat which was an empty shell and I
          didn't know how to turn it into a home. So I started reading books,
          magazines and watching “Grand Designs”. After quite a bit of trial and
          error, I fell in love with the process and became an Interior
          Designer.
        </p>

        <p>
          I`ve created many different and varied looks but my personal style
          leans towards a modern contemporary style fused with rustic and
          industrial touches. I love to include artisanal & hand-made pieces
          into the interiors I design. I am also a wife and mother of 2, which
          helps me keep it real and inspires me to create spaces that are not
          only aesthetically interesting but also stylishly liveable with a
          strong practical element.
        </p>
        <p>
          I believe in a collaborative approach and work closely with my clients
          to understand their practical needs, mixing this with decor styles and
          ideas they love to create a real `wow` factor within any given space -
          from one room to an entire house
        </p>
      </div>
      <h3 class="color text-center">
        Designs for Casual Everyday Living with just a hint of Wow!
      </h3>
    </div>
  </div>
</div>
