<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div>
    <h3 class="text-center">We're here to help you create a space you love.</h3>
  </div>
  <div class="form-group">
    <label for="name">Name*</label>
    <input
      class="form-control"
      type="text"
      id="name"
      ngModel
      #name="ngModel"
      required
      name="name"
    />
    <span class="help-block" *ngIf="!name.valid && name.touched"
      >Name is required</span
    >
  </div>
  <div class="form-group">
    <label for="email">Email*</label>
    <input
      class="form-control"
      type="email"
      id="email"
      ngModel
      name="email"
      required
      email
      #email="ngModel"
    />
    <span class="help-block" *ngIf="!email.valid && email.touched"
      >Please enter a valid email</span
    >
  </div>
  <div class="form-group">
    <label for="Phone">Phone number*</label>
    <input
      class="form-control"
      type="tel"
      id="phone"
      minlength="9"
      ngModel
      name="phone"
      required
      #phone="ngModel"
    />
    <span class="help-block" *ngIf="!phone.valid && phone.touched"
      >Please enter your phone number</span
    >
  </div>
  <div class="form-group">
    <label for="text">Message</label>
    <textarea
      class="form-control"
      name="message"
      id="message"
      rows="4"
      ngModel
    ></textarea>
  </div>
  <div>
    <p class="text-size">
      By submitting this form you agree to our
      <a href="../../../assets/policy/Privacy policy.pdf" target="_blank"
        >Privacy Policy</a
      >
    </p>
    <span class="help-block" *ngIf="!f.valid && f.touched"
      >Please fill out all required fields</span
    >
    <br />
    <button mat-button [disabled]="!f.valid" type="submit">Submit</button>
  </div>
</form>

<app-spinner *ngIf="isLoading"></app-spinner>
