<section class="section-margin">
  <div class="container">
    <div class="text-center mb-5">
      <h2>Portfolio</h2>
      <p>Exciting to see how we can transform your home?</p>
    </div>

    <div class="row mx-auto">
      <div class="col-6 col-md-4 p-0">
        <div class="img-hover-zoom h-50">
          <a routerLink="/gallery">
            <img
              src="../../../../assets/main-page-images/image-02.webp"
              alt=""
              class="image"
              width="350"
              height="350"
            />
          </a>
        </div>
        <div class="img-hover-zoom h-50">
          <a routerLink="/gallery">
            <img
              src="../../../../assets/main-page-images/image-03.webp"
              alt=""
              class="image"
              width="350"
              height="350"
            />
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 p-0">
        <div class="img-hover-zoom h-50">
          <a routerLink="/gallery">
            <img
              src="../../../../assets/main-page-images/image-01.webp"
              alt=""
              class="image"
              width="350"
              height="350"
            />
          </a>
        </div>
        <div class="img-hover-zoom h-50">
          <a routerLink="/gallery">
            <img
              src="../../../../assets/main-page-images/image-04.webp"
              alt=""
              class="image"
              width="350"
              height="350"
            />
          </a>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="img-hover-zoom h-100">
          <a routerLink="/gallery">
            <img
              src="../../../../assets/main-page-images/image-05.webp"
              alt=""
              class="image last-image"
              width="350"
              height="350"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-margin">
  <div class="text-center mb-5">
    <h2>Design concept</h2>
    <p>Client Design Concepts collection</p>
  </div>
  <app-swiper></app-swiper>
</section>
