<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="">
          <hr />
          <ul class="footer-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="/gallery">Portfolio</a></li>
            <li><a routerLink="/questionnaire">Questionnaire</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
          <hr />
        </div>
        <div class="contacts-text">
          <h4 class="text">Contacts</h4>
          <p class="mb-0">
            <a href="tel:+447470214062">Phone: +447470214062</a>
          </p>
          <p>
            <a href="mailto:roma@romainteriorsdesign.co.uk"
              >Email: roma@romainteriorsdesign.co.uk</a
            >
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h4 class="text">Get In Touch</h4>
        <p class="text">
          PLEASE CONTACT US TO SET UP YOUR DESIGN CONSULTATION OR ONLINE
          PROJECT. WE'D LOVE TO HEAR FROM YOU!
        </p>
        <button
          type="button"
          class="ripple customButton mt-3"
          routerLink="/contact"
        >
          Get in touch
        </button>
      </div>
    </div>
    <div class="copyright">
      Copyright © {{ currentYear }} Roma Interiors Design
    </div>
  </div>
</footer>
