<main class="background">
  <div>
    <h1>HOME DESIGN</h1>
    <h3 class="mt-2">Create your dream interior online</h3>
    <button class="ripple customButton mt-4" (click)="scrollTo()">
      Choose Room Package
    </button>
  </div>
</main>
<main class="container">
  <div class="row">
    <div class="col-12 col-md-6 mt-5">
      <h2 id="what-we-do" class="mb-3">What we do</h2>
      <p>
        In these current, difficult times our homes need to give us so much more
        comfort and convenience as for working or learning as well as for
        spending leisure time. Staying away from the office isn't always easy
        for many of us, but at the same time, it can be an opportunity to design
        your ideal home interior by using our online bespoke interior design
        services. Our home design services help clients save time and avoid
        costly mistakes. Choosing the right colors for a room, considering
        lighting, selecting the right sizes and shapes of furniture, pulling
        together all the materials into one holistic scheme require the skills
        that we have as professional interior designers.
      </p>
    </div>
    <div class="col-12 col-md-6 mt-5 d-flex justify-content-center">
      <img
        src="../../../assets/main-page-images/section-one-image.webp"
        alt=""
        class="img-fluid"
        width="350"
        height="350"
      />
    </div>
  </div>
</main>
<app-section-one></app-section-one>
<app-section-two></app-section-two>
<app-section-three></app-section-three>
<app-section-four-extras></app-section-four-extras>
