<div class="container-fluid">
  <h1 class="text-center mb-3">Guidance</h1>

  <div class="row">
    <div class="col-12 col-sm-5 image-div">
      <img
        src="../../../assets/layouts/guidance/concept-board.webp"
        alt=""
        width="450"
        height="350"
      />
    </div>
    <div class="col-12 col-sm-7 text">
      <h5><b>Concept board</b></h5>
      <p>
        The initial concept is very valuable at the early stage of a project as
        it guides you through all color schemes, fabrics and materials. The
        design concept gives you the general sense and helps effectively
        communicate before proceeding further with the Style Board.
      </p>
    </div>
  </div>
  <div class="background">
    <div class="row">
      <div class="col-12 col-sm-5 image-div">
        <img
          src="../../../assets/layouts/guidance/floor-plan.webp"
          alt=""
          width="450"
          height="350"
        />
      </div>
      <div class="col-12 col-sm-7 text">
        <h5><b>Customized floor plan</b></h5>
        <p>
          The floor plan will show you exactly where we propose each piece on
          the design board should be placed within your room.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-5 image-div">
      <img
        src="../../../assets/layouts/guidance/style-board-3d.webp"
        alt=""
        width="450"
        height="350"
      />
    </div>
    <div class="col-12 col-sm-7 text">
      <h5><b>Style Board (3D)</b></h5>
      <p>
        The design board allows you to visualize the final look of the actual
        furniture and accessories intended to be used and understand how all the
        pieces suggested in the scheme will work together.
      </p>
    </div>
  </div>
  <div class="background">
    <div class="row">
      <div class="col-12 col-sm-5 image-div">
        <img
          src="../../../assets/layouts/guidance/shopping-list.webp"
          alt=""
          width="450"
          height="350"
        />
      </div>
      <div class="col-12 col-sm-7 text">
        <h5><b> Shopping List</b></h5>
        <p>
          The shopping list provides links to online retailers in your location
          for all items in your project.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-5 image-div">
      <img
        src="../../../assets/layouts/guidance/built-in-elevation.webp"
        alt=""
        width="450"
        height="350"
      />
    </div>
    <div class="col-12 col-sm-7 text">
      <h5><b>Built-in elevation</b></h5>
      <p>
        An “elevation” is a drawing that shows the front or side of something.
        When drawing interior built-in elevations, this would represent one of
        the walls where there is built-in furniture. Elevations are essential
        for kitchen design or built-in furniture. Without elevation drawings,
        you cannot see the details of your new furniture, the size of each
        drawer or the location of each shelf or cupboard.
      </p>
    </div>
  </div>
  <div class="background">
    <div class="row">
      <div class="col-12 col-sm-5 image-div">
        <img
          src="../../../assets/layouts/guidance/electrical-drawing1.webp"
          alt=""
          width="450"
          height="350"
        />
      </div>
      <div class="col-12 col-sm-7 text">
        <h5><b>Electricity plan</b></h5>
        <p>
          The electricity plan will include position and numbers of light
          sources as well as socket and switches within your room.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-5 image-div">
      <img
        src="../../../assets/layouts/guidance/revision.webp"
        alt=""
        width="450"
        height="350"
      />
    </div>
    <div class="col-12 col-sm-7 text">
      <h5><b>Revision</b></h5>
      <p>
        Revisions are defined as any changes made to your design, for example to
        replace a piece of furniture, change the color of the walls, or add a
        few decorations. Changing the entire agreed style of the room (e.g. from
        Scandinavian style to a Classic one) or changing the room type (e.g.
        bedroom to studio space) would count as a new project. You are not
        obliged to use all the revisions included in your package to achieve
        your final design. In the unlikely event that you need more revisions
        you can purchase them for an hourly cost.
      </p>
    </div>
  </div>
  <div class="text-center">
    <button class="ripple customButton mt-5" (click)="choosePackage()">
      Choose your package
    </button>
  </div>
</div>
