<section class="page_404 mt-5">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-sm-12 colon">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>
          <div>
            <h3 class="h2">The page you are looking for not available!</h3>

            <button class="mt-3" routerLink="/" mat-raised-button>
              Go to Home Page
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
